@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --background: #F3F3F3;
  --foreground: #171717;
  /* Colors of categories */
  --categorie1: rgba(86, 37, 143, 0.6);
  --categorie2: rgba(62,66,130,0.6);
  --categorie3: rgba(91,190,189,0.6);
  --categorie4: rgba(125,197,108,0.6);
  --categorie5: rgba(214,223,69,0.6);
  --categorie6: rgba(239,170,76,0.6);
  --categorie7: rgba(226,70,54,0.6);
  --categorie8: rgba(167,38,74,0.6);
  --categorie9: rgba(136,34,110,0.6);
  --categorienoticia: #A29F9F;
  --fontcolor: #8B8B8B;
  --live: #E41414;
  --liveoff: #D9D9D9;
  --appinstall: #408430;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
